*{
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: pink;
    height: 120vh;
    
    object-fit: contain;
}
.header{
    background-color: rgb(238, 111, 132);
    padding: 20px;
}
.header h1{
    font-size: clamp(18px,4vw,30px);
}
footer{
    background: rgb(230, 82, 107);
    padding: 20px;
    
}
footer h1{
    font-size: clamp(18px,4vw,30px)
}
.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(2, 2, 43);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#generate-btn {
    background-color: #4CAF50;
    color: #eedede;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#generate-btn:hover {
    background-color: #3e8e41;
}

#message-container {
    margin-top: 20px;
}

#message {
    font-size: clamp(18px,4vw,24px);
    font-weight: bold;
    color: #f8f1f1;
}

/* Animations */
#message-container {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

#message-container.show {
    opacity: 1;
    transform: translateY(0);
}